<%= form_for(check_in) do |f| %>
  <% if check_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check_in.errors.count, "error") %> prohibited this check_in from being saved:</h2>

      <ul>
      <% check_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mile_run %>
    <%= f.number_field :mile_run %>
  </div>

  <div class="field">
    <%= f.label :push_ups %>
    <%= f.number_field :push_ups %>
  </div>

  <div class="field">
    <%= f.label :sit_ups %>
    <%= f.number_field :sit_ups %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
