<%= form_for(check_in) do |f| %>
  <% if check_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check_in.errors.count, "error") %> prohibited this check_in from being saved:</h2>

      <ul>
      <% check_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel-group">
     <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAoS10pX8XqYVehzA9nX6nAoehR-xbkG02qCRWbOfG5-VBnJYD" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
            <br>
            <%= f.label :mile_run %>
            <%= f.number_field :mile_run %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="https://img.utdstc.com/icons/256/push-ups-android.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <%= f.label :push_ups %>
          <%= f.number_field :push_ups %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://pool.img.aptoide.com/softonicstore/46c407a068ab6fdb6784aea5972ec90f_icon.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <%= f.label :sit_ups %>
          <%= f.number_field :sit_ups %>
        </div>
      </div>
    </div>

<div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://burnitin30.com/wp-content/uploads/2015/01/Scale-Icon-MF-295x300.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <%= f.label :weight %>
          <%= f.number_field :weight %>
        </div>
      </div>
    </div>
<br>
 <div class="hidden">
   <%= f.number_field :user_id, value: current_user.id %>
 </div> 

  <div style="margin-top: 15px;" class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

