<p id="notice"><%= notice %></p>

<div class='jumbotron text-center'>
<h1>Progress</h1>
</div>

<div class='chart'>
<h2>| Mile(s) Run |</h2>
<%= column_chart current_user.check_ins.group_by_day(:created_at, series: false, format: "%B %d").sum(:mile_run) %>
<br>
<h2>| Sit Ups and Push Ups |</h2>
<%= line_chart [
  {name: "Push Ups", data: current_user.check_ins.group_by_day(:created_at, series: false, format: "%B %d").sum(:push_ups)},
  {name: "Sit Ups", data: current_user.check_ins.group_by_day(:created_at, series: false, format: "%B %d").sum(:sit_ups)}
] %>
<br>
<h2>| Weight |</h2>
<%= area_chart current_user.check_ins.group_by_day(:created_at, series: false, format: "%B %d").sum(:weight) %>
<h2>| Check Ins |</h2>
</div>

  <div class="row">
  
        <div class="panel-group">
          <% current_user.check_ins.each do |check_in| %>
      <h3 style="color: blue; border: darkorange;" class="row"><%= check_in.created_at.strftime("%m/%d/%Y") %></h3>
      <br>
        <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAoS10pX8XqYVehzA9nX6nAoehR-xbkG02qCRWbOfG5-VBnJYD" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <h3><%= check_in.mile_run %></h3> 
        </div>
        <div class="panel-footer">Miles Run</div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
          <img src="https://img.utdstc.com/icons/256/push-ups-android.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <h3><%= check_in.push_ups %></h3>
        </div>
        <div class="panel-footer">Push Ups</div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://pool.img.aptoide.com/softonicstore/46c407a068ab6fdb6784aea5972ec90f_icon.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <h3><%= check_in.sit_ups %></h3>
        </div>
        <div class="panel-footer">Sit Ups</div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://burnitin30.com/wp-content/uploads/2015/01/Scale-Icon-MF-295x300.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <h3><%= check_in.weight %></h3>
        </div> 
        <div class="panel-footer">Weight</div>
        </div>
        <br>
        </div>

    <% end %>
  </div>




<br>


