<p id="notice"><%= notice %></p>

<div class='jumbotron text-center'>
<h1>Check Ins</h1>
</br>
<!-- <%= link_to 'New Check In', new_check_in_path %> -->
<br>
<br>
<% @check_ins.each do |week| %>
<div class="btn-group" role="group" aria-label="People Groups">
      <%= link_to "Week of #{week.created_at.strftime("%m/%d/%Y")}", progress_path, class: "btn btn-default #{'active' unless params[:people]}" %>
      
</div>
<% end %>
</div>

  <div class="row">
    <% @check_ins.each do |check_in| %>
      <h2 class="row"><%= check_in.created_at.strftime("%m/%d/%Y") %></h2>
      <br>
        <div class="panel-group">
        <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAoS10pX8XqYVehzA9nX6nAoehR-xbkG02qCRWbOfG5-VBnJYD" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <h1><%= check_in.mile_run %></h1> 
        </div>
        <div class="panel-footer">Miles Run</div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
          <img src="https://img.utdstc.com/icons/256/push-ups-android.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <h1><%= check_in.push_ups %></h1>
        </div>
        <div class="panel-footer">Push Ups</div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://pool.img.aptoide.com/softonicstore/46c407a068ab6fdb6784aea5972ec90f_icon.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <h1><%= check_in.sit_ups %></h1>
        </div>
        <div class="panel-footer">Sit Ups</div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://burnitin30.com/wp-content/uploads/2015/01/Scale-Icon-MF-295x300.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <br>
          <h1><%= check_in.weight %></h1>
        </div> 
        <div class="panel-footer">Weight</div>
        </div>
        <br>
        </div>

    <% end %>
  </div>




<br>


